/* Fuentes de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

/* Estilos Generales */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #333;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    color: #ff8c00;
}

/* Header */
header {
    text-align: center;
    color: white;
    background-color: #333;
    padding: 30px;
}

header h1 {
    font-size: 2.5em;
}

header img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Productos */
#productos {
    background-color: #f9f9f9;
    padding: 40px;
    text-align: center;
}

.productos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.producto-card {
    background-color: white;
    padding: 15px;
    width: 28%;
    min-height: 350px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.producto-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 15px;
}

.comprar-btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
}

.comprar-btn:hover {
    background-color: #45a049;
}

/* Contacto */
#contacto {
    padding: 40px;
    background-color: #f9f9f9;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1.1em;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    font-size: 1.1em;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

form button:hover {
    background-color: #45a049;
}

/* Footer */
footer {
    text-align: center;
    background-color: seagreen;
    color: white;
    padding: 15px;
}

/
@media (max-width: 768px) {
    .productos-container {
        flex-direction: column;
        align-items: center;
    }

    .producto-card {
        width: 80%;
    }

    form {
        width: 90%;
    }
}
